.logo {
  position: relative;
  font-family: $font-2;
  color: white;
  font-size: 2rem;
  text-align: center;
  display: inline;
  padding: 0.1rem 0.5rem 0.2rem;
  border-radius: 50%;
  align-self: center;
  margin: 10px;
  border: 1px solid rgb(135, 135, 135);
  background: linear-gradient(
    to right,
    rgb(106, 17, 203) 0%,
    rgb(119, 212, 255) 100%
  );

  span {
    position: absolute;
    text-align: left;
    top: 10px;
    left: 0;
    opacity: 0;
    font-size: 1rem;
    color: $color-5;
    transition: all 0.5s ease;
  }

  &:hover span {
    opacity: 1;
    transform: translate(0, 100%);
  }
}
