.logo {
  position: absolute;
  font-family: $font-2;
  color: white;
  font-size: 2rem;
  user-select: none;
  top: 1rem;
  left: 1.4rem;
  border-radius: 50%;
  border: 1px solid $color-5;
  padding: 0.3rem 0.5rem;
  background: linear-gradient(
    to right,
    rgb(106, 17, 203) 0%,
    rgb(119, 212, 255) 100%
  );

  span {
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0;
    font-size: 1rem;
    color: $color-5;
    transition: all 0.5s ease;
  }

  &:hover span {
    opacity: 1;
    transform: translate(0, 100%);
  }
}
