.social-network {
  font-size: 2.2rem;
  margin: 0.5rem;
  align-self: flex-end;

  ul {
    display: flex;

    justify-content: space-around;

    a {
      padding: 1rem;
      transition: 1.1s ease-out;
      i {
        color: $color-5;
      }
    }
  }
}
